@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap');

////////////// VARIABLES //////////////
$cursor-size: 17px;
$background-color: #0b0b0d;
$main-text-color: #FFFFFF;
$bg-blue: #009dff;
$bg-green: #05b33c;
$bg-red: #b9073a;
$bg-grey: #575757;

////////////// GENERAL //////////////
* {
    font-family: 'Manrope', sans-serif;
    color: $main-text-color;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $background-color;
}

////////////// GLOBAL ELEMENTS //////////////
.button {
    position: relative;
    width: 150px;
    padding: .5em;
    margin: .5em;
    background-color: transparent;
    border: 2px solid white;
    isolation: isolate;
    color: $main-text-color;
    font-weight: 500;
    font-size: .875rem;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    user-select: none;

    &:before {
        height: 101%;
        width: 101%;
        content: '';
        position: absolute;
        inset: 0;
        transform: scaleX(0);
        transform-origin: left;
        background-color: white;
        transition: 300ms ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: black;

        &:before {
            transform: scaleX(1);
        }
    }

    &--active {
        color: black;
        background-color: white;
    }
}

////////////// CURSOR //////////////
.cursor {
    pointer-events: none;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    width: $cursor-size;
    height: $cursor-size;
    background-color: #f7f8fa;
    border-radius: 50px;
    z-index: 1000;
    transition: width .5s ease-in-out, height .5s ease-in-out;

    &--hovering {
        width: $cursor-size*2;
        height: $cursor-size*2;
    }
}

////////////// HEADER //////////////
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem 0;

    &__title {
        color: black;
        font-family: 'Syne', sans-serif;
        font-size: 5rem;
        font-weight: 600;
        max-width: 50rem;
        mix-blend-mode: difference;
        pointer-events: none;
        text-align: center;
        // translate: 0 6rem;
        z-index: 1;
        // color: white;
        // text-align: center;
        text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff;

        &--white {
            color: white;
        }
    }

    &__nav {

        &__ul {
            display: flex;
            justify-content: center;

            &__li {

                &__button {

                }
            }
        }
    }

    &__description {
        font-family: 'Syne', sans-serif;
        max-width: 600px;
        text-align: center;
    }
}

////////////// VIEW //////////////
.view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__element {
        display: none;
    }

    &__haiku {

        &__list {
            font-size: 1.2rem;
            animation: tilting 20s cubic-bezier(0.37, 0, 0.63, 1) infinite;

            li {
                margin-top: .5em;
            }
        }
    }

    &__sonnet {

        &__list {
            width: 500px;
            font-size: 1.2rem;
            animation: tilting 30s cubic-bezier(0.37, 0, 0.63, 1) infinite;
            
            div {
                margin-top: .5em;
            }
        }
    }

    &__bristols {

        &__list {
            width: 90vw;
            max-height: 50vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-y: scroll;

            &__card {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 250px;
                margin: 25px;
                padding: 25px;
                background-color: rgb(0, 0, 0);
                mix-blend-mode:lighten;
                transition: 1s ease;
                border: 2px white solid;
                user-select: none;

                &:hover {
                    transform: scale(110%);
                    background-color: rgba(245, 245, 245, 0.277);
                }

                &__text {
                    color: white;
                    font-style: italic;
                }

                &__num {
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                    color: white;
                }
            }
        }
    }

    &__conte {

        &__story {
            max-width: 60vw;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            // font-weight: bold;
            font-style: italic;
            animation: floating 20s cubic-bezier(0.37, 0, 0.63, 1) infinite;
        }

        &__story--started {
            margin: 5vh;
        }

        &__storyspin {
            animation: tilting 15s cubic-bezier(0.37, 0, 0.63, 1) infinite;
        }

        &__choices {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // display: flex;

            &__li {
                width: auto;
                max-width: 300px;
            }
        }
    }

    &__title {}

    &__button {}
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

////////////// BACKGR;OUND //////////////
.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    pointer-events: none;

    &__noise {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: overlay;
        opacity: .8;
        user-select: none;
    }

    &__gradient {
        position: absolute;
        z-index: -3;
        top: 50vh;
        width: 2400px;
        height: 2600px;
        border-radius: 50%;
        filter: blur(100px);
        animation: rotate-background 10s linear infinite;
    }

    &__gradient--blue {
        background-image: linear-gradient(90deg, $bg-blue, $bg-blue);
    }

    &__gradient--green {
        background-image: linear-gradient(90deg, $bg-green, $bg-green);
    }

    &__gradient--red {
        background-image: linear-gradient(90deg, $bg-red, $bg-red);
    }

    &__gradient--grey {
        background-image: linear-gradient(90deg, $bg-grey, $bg-grey);
    }
}

////////////// SCROLLBAR //////////////

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
}

////////////// KEYFRAMES //////////////
@keyframes rotate-background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes tilting {
    0% {
        transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
}

@keyframes floating {
    0% {
      transform: translate(0, -1vh);
    }
    50% {
      transform: translate(0, 1vh);
    }
    100% {
      transform: translate(0, -1vh);
    }
}





////////////// SCANLINES //////////////

// body:before{
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background: linear-gradient(
//         to bottom,
//         rgba(18, 16, 16, 0) 50%,
//         rgba(0, 0, 0, 0.25) 50%
//     );
//     background-size: 100% 8px;
//     z-index: 20;
//     pointer-events: none;
//     animation: scanlines .5s steps(60) infinite;
// }

// @keyframes scanlines {
//     0% {
//         background-position: 0 40%;
//         bottom: 0%;
//     }
// }